<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles2.css" />
    <title>Document</title>
  </head>

  <body>
    <div class="main-container">
      <div class="nav-bar">
        <ul>
          <div class="nav-bar-pages">
            <li><h2 class="brand-name">Browser Manager</h2></li>

            <li><a class="nav-link" href="/projects.html"><img class="folder-icon" src="/static/folder-default.svg" alt="folder-icon">Projects</a></li>
            <li><a class="nav-link" href="//profiles.html"><img class="person-icon" src="/static/person-default.svg" alt="">Profiles</a></li>
          </div>

          <div class="nav-bar-actions">
            <li><input class="search-bar" type="text" placeholder="Search..." /></li>

            <li><a class="nav-bar-action-icons" href="/new-project.html"><img class="new-icon" src="/static/new-folder-primary.svg" alt="" title="New Project"></a></li>
            <li><a class="nav-bar-action-icons" href="/new-profile.html"><img class="new-icon" src="/static/new-person-primary.svg" alt="" title="New Profile"></a></li>
            <li><a class="nav-bar-action-icons" href=""><img class="settings-icon" src="/static/settings-default.svg" alt="" title="Settings"></a></li>
          </div>
        </ul>
      </div>

      <div class="table">

      </div>
    </div>
  </body>
</html>
