<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="/app/static/style.css" />
    <title>Browser Manager</title>
</head>

<body>
    <div class="main-container">

        <!--------------------------SIDE NAVIGATION-----------------------------------------  -->
        <div class="nav-bar">
            <div>
                <h2 class="app-name">Browser Manager</h2>

                <ul class="nav-bar-links">
                    <li><a href="/projects.html">📁 Projects</a></li>
                    <li><a href="/profiles.html">👤 Profiles</a></li>
                    <li><a href="">🌐 Browser</a></li>
                    <li><a href="">🕥 History</a></li>
                    <li><a href="">🗑️ Recycle Bin</a></li>
                </ul>
            </div>

            <div>
                <ul class="nav-bar-links">
                    <button style="padding: 5px; cursor: pointer;;">☀️ Light Mode</button>
                    <li><a href="">⚙️ Settings</a></li>
                    <li><a href="">🔑 Sign Out</a></li>
                </ul>
            </div>



        </div>

        <!--------------------------CONTENT AREA-----------------------------------------  -->

        <div class="content-area">

            <h1 class="content-header">Projects</h1>

            <div class="content-top-bar-actions"> <!---------Content Actions ----------->
                <div class="right">
                    <button type="button" class="button">
                        <img class="button-icon" src="/assets/icons/add.svg" alt=""></span>
                        <span class="button-text"><a href="/new-project.html">Add Project</a></span>
                    </button>

                    <button type="button" class="button">
                        <img class="button-icon" src="/assets/icons/export-file.svg" alt="upload-file"
                            title="Export Profile">
                    </button>

                    <button type="button" class="button">
                        <img class="button-icon" src="/assets/icons/import-profile.svg" alt="upload-file"
                            title="Import Profile">
                    </button>

                </div>
                <input id="search-bar" type="text" placeholder="Search...">

                <div class="left">
                    <button type="button" class="button">
                        <img class="button-icon" src="/assets/icons/expand_all.svg" alt="upload-file"
                            title="Expand All">
                    </button>

                    <button type="button" class="button">
                        <img class="button-icon" src="/assets/icons/sort.svg" alt="upload-file" title="Sort Table">
                    </button>

                </div>


            </div>


            <div> <!---------Table----------->
                <table class="content-table">
                    <thead>
                        <tr>
                            <th id="far-left-th"><input type="checkbox" name="select" id="" title="Select All"></th>
                            <th>Project Name</th>
                            <th>Profile Name</th>
                            <th>Last Used</th>
                            <th id="far-right-th">Actions</th>
                        </tr>
                    </thead>
                    <tbody id="projects-table-body"></tbody>

                    <tr>
                        <td><input type="checkbox" name="" id=""></td>
                        <td>Web Design</td>
                        <td>🔽</td>
                        <td>July 16, 2025 4:18 PM</td>
                        <td>🚀 ✏️ 🗑️</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id=""></td>
                        <td>SEO</td>
                        <td>🔽</td>
                        <td>April 11, 2025 12:18 PM</td>
                        <td>🚀 ✏️ 🗑️</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id=""></td>
                        <td>Email</td>
                        <td>🔽</td>
                        <td>February 9, 2025 9:00 PM</td>
                        <td>🚀 ✏️ 🗑️</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id=""></td>
                        <td>Social Media</td>
                        <td>🔽</td>
                        <td>December 1, 2025 1:18 PM</td>
                        <td>🚀 ✏️ 🗑️</td>
                    </tr>
                </table>
            </div>

            <!---------------------------------------------------------------------------------  -->

        </div>
</body>

</html>